<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Community Room </ion-title>


    <ion-buttons end>
      <button ion-button *ngIf="!internetConnected" (click)="notify('Working offline..')">
        <ion-icon name="warning"></ion-icon>
      </button>
      <button ion-button (click)="createThread()" *ngIf="internetConnected">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-searchbar class="segmentbutton" [(ngModel)]="queryText"  placeholder="Search for a thread..">
    </ion-searchbar>

    <ion-segment [(ngModel)]="segment" padding >
      <ion-segment-button  class="segmentbutton" value="all">
        All
      </ion-segment-button>
      <ion-segment-button  class="segmentbutton" value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

  <ion-refresher (ionRefresh)="reloadThreads($event)" *ngIf="segment=='all'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list *ngIf="threads.length > 0">
    <!-- forum-thread *ngFor="let thread of threads" [thread]="thread" (onViewComments)="viewComments($event)"></forum-thread -->
  

    <ion-card  *ngFor="let thread of threads">

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/avatar/marty-avatar.png">
    </ion-avatar>
    <h2>Marty McFly</h2>
    <p>November 5, 1955</p>
  </ion-item>

  <ion-card-title>
  {{thread.title}}
  </ion-card-title>

  <ion-card-content>
    <p> {{thread.question}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small (click) = "viewComments(thread)">
        <ion-icon name="text"></ion-icon>
        <div>{{thread.comments}} Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

  </ion-list>

</ion-content>
