<!--
  Generated template for the DroneLockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Room booking </ion-title>
 </ion-navbar>
</ion-header>


<ion-content padding>

<ion-segment [(ngModel)]="relationship"   >
    <ion-segment-button  class="segmentbutton" value="new">
      New
    </ion-segment-button>
    <ion-segment-button   class="segmentbutton" value="bookings">
      Current Bookings
    </ion-segment-button>
  </ion-segment>

<div [ngSwitch]="relationship">
  <div *ngSwitchCase="'new'">

  <ion-list  inset padding>

   <ion-item-divider class="roundedge">
             Room booking 
        </ion-item-divider>

       <ion-item-sliding *ngFor="let todo of rooms">

      <ion-item>
       <ion-label >
        <h3> {{todo.name}} </h3>
        </ion-label>

        <button ion-button item-right (click)="selectroom(todo)" class="colorbutton" >
          Select
        </button>
      </ion-item>

    </ion-item-sliding>
      <ion-item>
        Selected room: <span item-right> {{bookingdata.roomname}} </span>
      </ion-item>


        <!-- ion-item>
                    <ion-label>Select room </ion-label>
                    <ion-select [(ngModel)]="bookingdata.roomname">
                        <ion-option *ngFor="let todo of rooms"
                        value={{todo.name}}
                        > {{todo.name}} 
                        </ion-option>
                    </ion-select>
        </ion-item -->

<ion-item>
<ion-label><ion-icon name="date"></ion-icon> Select booking date</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="bookingdate"></ion-datetime>
</ion-item>

        <ion-item>
   <ion-label><ion-icon name="clock"></ion-icon> Booking start time </ion-label>
  <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" minuteValues="0,15,30,45" [(ngModel)]="starttime"></ion-datetime>
        </ion-item>

        <ion-item>
  <ion-label><ion-icon name="clock"></ion-icon> Booking end time </ion-label>
  <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" minuteValues="0,15,30,45" [(ngModel)]="endtime"></ion-datetime>

        </ion-item>
        <ion-item>
   <button ion-button full  class="colorbutton" (click)="bookroom()" >Book </button>

        </ion-item>
        </ion-list>
</div>
</div>
<div [ngSwitch]="relationship">
  <div *ngSwitchCase="'bookings'">
  <ion-list  inset >
   <ion-item-divider class="roundedge">
             Current bookings 
        </ion-item-divider>

       <ion-item-sliding *ngFor="let todo of bookings">

      <ion-item>
       <ion-label item-left >
        <h3> {{todo.room}} </h3>
        {{todo.bookingdate}}
        </ion-label>

        <span item-right  >
           from {{todo.starttime}} to {{todo.endtime}} 
        </span>
      </ion-item>

    </ion-item-sliding>
      <ion-item *ngIf="bookings.length == 0">
      No bookings
      </ion-item>

   </ion-list>
 
</div>
</div>


</ion-content>
