.roundedge {

                border-radius: 30px !important;
                padding-left: 10px !important;
                margin-bottom: 10px;
                background-color: map-get($colors, twitter);
                font-size: 0.9em;


}

.colorbutton {

                border-radius: 30px !important;
                background-color: map-get($colors, twitter);
                font-size: 0.9em;
}

.navcolor {

                color: map-get($colors, secondary);
}

@-webkit-keyframes slidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(-70px,0,0);
    -webkit-transform: translate3d(-70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes rightslidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(70px,0,0);
    -webkit-transform: translate3d(70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

.itemSlidingAnimation {
    -webkit-animation: slidingAnimation;
    animation: slidingAnimation;
    -webkit-animation-duration: 2000ms;
    animation-duraton: 2000ms;
}

.rightitemSlidingAnimation {
    -webkit-animation: slidingAnimation;
    animation: rightslidingAnimation;
    -webkit-animation-duration: 2000ms;
    animation-duraton: 2000ms;
}


ion-item-sliding ion-label {
     border-left: 2px solid 1;
     padding-left: 10px;
 }
  

